body {
  background-color: #F5F7FB;
}

.blob {
  position: fixed; 
  z-index: 0;

  &--yellow {
    right: 0;
    top: 0;
  }

  &--green {
    bottom: 0;
    left: 0;
  }
}

.menu {
  font-family: Karla, sans-serif;
  margin: 40vh auto 0 auto;
  position: relative;
  text-align: center;
  z-index: 1;

  @media screen and (min-width: 800px) {
    margin-top: 30vh;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: #293264;

    @media screen and (min-width: 800px) {
      font-size: 48px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    color: #293264;

    @media screen and (min-width: 800px) {
      font-size: 18px;
    }
  }
}

.quiz {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
  position: relative;
  z-index: 1;

  .question {
    border-bottom: 1px solid #DBDEF0;
    color: #293264;
    margin-top: 16px;
    width: 350px;
    padding-bottom: 32px;

    @media screen and (min-width: 800px) {
      width: 600px;
    }

    &__title {
      font-family: Karla, sans-serif;
      font-size: 16px;

      @media screen and (min-width: 800px) {
        font-size: 20px;
        width: 550px;
      }
    }

    &__options {
      align-items: center;
      display: flex;
      font-size: 12px;
      justify-content: space-between;
      padding-top: 10px;

      @media screen and (min-width: 800px) {
        font-size: 14px;
      }

      &--option {
        label {
          border: 1px solid #4D5B9E;
          border-radius: 8px;
          cursor: pointer;
          display: block;
          font-family: Inter, sans-serif;
          margin: 0;
          max-width: 120px;
          min-width: 40px;
          padding: 8px;
          text-align: center;

          &:hover {
            background-color: #D6DBF5;
            border-color: #D6DBF5;
          }
        }

        input {
          display: none;
        }

        input:checked + label {
          background-color: #D6DBF5;
          border-color: #D6DBF5;
        }

        input.correct + label {
          background-color: #94D7A2;
          border-color: #94D7A2;
        }

        input.incorrect:checked + label {
          background-color: #F8BCBC;
          border-color: #F8BCBC;
          color: #4D5B9E;
        }

        input.incorrect + label {
          opacity: 0.5;
        }
      }
    }
  }
}

.button {
  background: #4D5B9E;
  border: none;
  border-radius: 15px;
  color: #F5F7FB;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 52px;
  margin-top: 30px;
  text-align: center;
  width: 193px;

  @media screen and (min-width: 800px) {
    font-size: 18px;
  }

  &:hover {
    background-color: #3C467A;
  }
}