body {
  background-color: #F5F7FB;
}

.blob {
  position: fixed; 
  z-index: 0;

  &--yellow {
    right: 0;
    top: 0;
  }

  &--green {
    bottom: 0;
    left: 0;
  }
}

.menu {
  font-family: Karla, sans-serif;
  margin: 40vh auto 0 auto;
  position: relative;
  text-align: center;
  z-index: 1;

  @media screen and (min-width: 800px) {
    margin-top: 30vh;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: #293264;

    @media screen and (min-width: 800px) {
      font-size: 48px;
    }
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    color: #293264;

    @media screen and (min-width: 800px) {
      font-size: 18px;
    }
  }

  &__button {
    background: #4D5B9E;
    border: none;
    border-radius: 15px;
    color: #F5F7FB;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 52px;
    margin-top: 30px;
    text-align: center;
    width: 193px;

    @media screen and (min-width: 800px) {
      font-size: 18px;
    }

    &:hover {
      background-color: #3C467A;
    }
  }
}

.quiz {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
  position: relative;
  z-index: 1;

  .question {
    border-bottom: 1px solid #DBDEF0;
    color: #293264;
    padding-bottom: 16px;

    &__title {
      font-family: Karla, sans-serif;
      font-size: 16px;
    }

    &__options {
      display: flex;
      font-family: Inter, sans-serif;
      font-size: 12px;
      gap: 10px;

      &--option {
        border: 1px solid #4D5B9E;
        border-radius: 8px;
        height: 21px;
        margin: 0;
        padding: 4px 8px;
        text-align: center;
        width: 66px;
      }
    }
  }
}